<fa-app class="full-screen">

  <fa-header-footer-layout fa-options="layoutOptions">

    <fa-view>
      <fa-modifier>
        <fa-surface class="header">{{currentYear}}</fa-surface>
      </fa-modifier>
    </fa-view>

    <fa-scroll-view id="scrollView"
        fa-pipe-from="surfaceEventHandler"
        fa-pipe-to="scrollViewEventHandler"
        fa-start-index="startIndex">

      <!-- Months -->
      <fa-view ng-repeat="month in months">
        <fa-modifier fa-translate="[0, (viewSize.height - layoutOptions.headerSize) * 0.1, 0]" fa-size="[undefined, (viewSize.height - layoutOptions.headerSize) * 0.9]">

          <!-- Month -->
          <fa-modifier fa-size="[undefined, 60]">
            <fa-surface fa-pipe-to="surfaceEventHandler" fa-color="'gold'">{{month.name}} ({{month.month}}) {{month.year}}</fa-surface>
          </fa-modifier>

          <fa-modifier fa-translate="[0, 60, 0]">
            <fa-grid-layout fa-options="getMonthGridOptions(month)">
              <fa-modifier ng-repeat="week in month.weeks track by $index">

                <!-- Week -->
                <fa-grid-layout fa-options="weekGridOptions">
                  <fa-modifier ng-repeat="day in week.days track by $index">
                    <fa-surface class="day" fa-pipe-to="surfaceEventHandler">{{day}}</fa-surface>
                 </fa-modifier>
                </fa-grid-layout>

              </fa-modifier>
            </fa-grid-layout>
          </fa-modifier>

        </fa-modifier>
      </fa-view>

    </fa-scroll-view>

  </fa-header-footer-layout>

</fa-app>
